{% extends "home/header.html" %}
{% block content %}
	<h1>{{tournament.title}}</h1>
	<p>{{tournament.date_created}}</p>
	{{tournament.rules|safe|linebreaks}}
	{% if in_tournament %}
		<p> You are already in the tournament :(</p>
	{% else %}
		{% if not request.user.is_authenticated %}
			<p><a href= "/login/">Login To Join Tournament</a></p>
		{% else %}
			<form method="post" action="">
				{% csrf_token %}
				<button>Join Tournament!!</button>
				<p> You are not in the tournament </p>
			</form>
		{% endif %}
	{% endif %}
	
	<hr>
<!-- 	For every participant in the list of ranked players, iterate through and display their names and their rankings
 -->	
 	{% load thumbnail %}
	{% for Participant in players_ranked %}
	<div class= "panel panel-default"><a href= "/player/user/{{Participant.user.username}}">
	{% if Participant.user.player.avatar %}
	<img style="vertical-align:middle" src="{% thumbnail Participant.user.player.avatar 50x50 crop='smart' %}"></a>
	{% endif %}

	<p style = 'display:inline'>{{Participant.ranking}}. {{Participant.user.username}} {% if Participant.user.player.ingamename %}in-game :{{Participant.user.player.ingamename}}{% endif %}</p>
	</div>
	{% endfor %}
    <ol>
    <hr>


    <!-- display the comments -->
    {% load contentbox %}
    <!-- form to add comments to post -->
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=tournament.pk %}">Add comment</a>
	<!-- display all the comments -->

	{% for comment in tournament.comments.all %}
	    {% show_content_box_simple comment.author comment.text %}
	{% empty %}
	    <p>No comments here yet :(</p>
	{% endfor %}
	<a class = "btn btn-default" href="{% url 'reportmatch' pk=tournament.pk %}">[Report a match]</a><a class="btn btn-default" href="{% url 'matchhistory' pk=tournament.pk %}">[View Match History]</a>
	</hr>
{% endblock %}