<!DOCTYPE html>
<html lang="en">

<head>
	<title>Boring Man Ladder Hop</title>
	<meta charset="utf-8" />
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% block headercontent %}
	{% endblock %}
	<style type="text/css">
		html,
		body {
		  height:100%
		}

	</style>
	
	{{guide_form.media}}
	<script>
	tinyMCE.init({
	  mode: "textareas", 
	  
	});
	</script>

</head>

<body class="body" style="background-color:#f6f6f6">
	{% load static %}
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			<div class="col-sm-2">
				<br>
				<center>
					<a href='/'><img src="http://imgur.com/6MK4A6u.jpg" class="responsive-img" style='max-height:100px;' alt="face1"></a>
				</center>
			</div>
			<div class="col-sm-10">
				<div class="page-header">
  					<h1>Boring Man<small>Ladder Hop</small></h1>
				</div>
			</div>
		</div><hr>
		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/stats/'>Leaderboard</a></li>
				<li><a href='/blog/'>My Blog</a></li>
				<li><a href='/guides/'>Boring Man Guide</a></li>
				<li><a href='/clans/'>Clans</a></li>
				<li><a href='/ladder/'>Ladder Tournament</a></li>
				{% if not user.is_authenticated %}
				<li><a href='/login/'>Login</a></li>
				{% else %}
				<li><a href='/logout'>Logout</a></li>
				{% endif %}
				<li><a href="/player/register/">Register</a></li>

			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
			  {% if user.is_authenticated %}
				<div class="container">
					<h3> Hello, {{user.username}}</h3>
					<ul class="nav nav-pills">
						{% load inbox %}
						<li role="presentation" class="active"><a href="/messages/">Mail: <span class="badge">{% inbox_count %} </span></a></li>
						<li><a href="/messages/compose">Compose</a></li>
						<li><a href="/player/user/{{user.username}}">My Profile</a></li>
						<li><a href="/blog/post/new">Create a blog post</a></li>
						<li><a href="/guides/create">Add a Guide</a></li>
						<li><a href="/clans/createclan">Create a clan</a></li>
						<li><a href="/ladder/createtournament">Add Tournament</a></li>
					</ul>
				</div><hr>
				{% endif %}
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="http://coyote-and-bird.tumblr.com/" target="blank">Tumblr</a> | <a href="https://twitter.com/CoyoteAndBird1" target="blank">Twitter</a> | <a href="https://plus.google.com/u/3/114696565784178147243/posts" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>
</html>