
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Boring Man Ladder Hop</title>
	<meta charset="utf-8" />
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% block headercontent %}
	{% endblock %}
	<style type="text/css">
		html,
		body {
		  height:100%
		}

	</style>
	
	{{guide_form.media}}
	<script>
	tinyMCE.init({
	  mode: "textareas", 
	  
	});
	<
	</script>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static "home/img/favicon-16x16.png" %}"/>
</head>

<body style="padding-top: 70px; background-color:#f6f6f6;background:url(https://cdn.discordapp.com/attachments/263545260309741568/263568260291624960/HUGE_FOREST.png) no-repeat fixed;">
	{% load google_analytics_tags %}
	<div style="display:none">
	    <img src="{% google_analytics %}" width="0" height="0" />
	</div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/stats/">Ladder Hop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                	<a href='/'>Home</a>
                </li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leaderboard
    				<span class="caret"></span></a>
					<ul class="dropdown-menu">
			          <li><a href="/stats/">Team Deathmatch</a></li>
			          <li><a href="/stats/recent/">Team Deathmatch Recent</a></li>
			          <li><a href="/stats/dm/">Deathmatch</a></li>
			          <li><a href="/stats/dm/recent/">Deathmatch Recent</a></li>
			        </ul>
				</li>
				<li>
					<a href='/blog/'>My Bog</a>
				</li>
				<li>
					<a href='/guides/'>Boring Man Guide</a>
				</li>
				<li>
					<a href='/clans/'>Clans</a>
				</li>
				<li>
					<a href='/ladder/'>Ladder Tournament</a>
				</li>
			</ul>
			<form class="navbar-form navbar-left" action="/stats/search/" method="post">
				{% csrf_token %}
				<div class="input-group">
					<input id="player_search" type="text" name="player_search" placeholder="Search">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
			{% if not user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href='/login/'>Login</a></li>
				<li><a href="/player/register/">Register</a></li>
			</ul>
			{% else %}
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create
        				<span class="caret"></span></a>
        			<ul class= "dropdown-menu">
        				{% load inbox %}
						<li role="presentation" class="active"><a href="/messages/">Mail: <span class="badge">{% inbox_count %} </span></a></li>
						<li><a href="/messages/compose">Compose</a></li>
						<li><a href="/player/user/{{user.username}}">My Profile</a></li>
						<li><a href="/blog/post/new">Create a blog post</a></li>
						<li><a href="/guides/create">Add a Guide</a></li>
						<li><a href="/clans/createclan">Create a clan</a></li>
						<li><a href="/ladder/createtournament">Add Tournament</a></li>
					</ul>
				</li>
				<li><a href="/logout/">Logout</a></li>
			</ul>
			{% endif %}	
        </div>
    </nav>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<div class="panel panel-default">
  			<div class="panel-body">
  				{% block content %}
		 		{% endblock %}	
			</div>
		</div>		   
	</div>
	<footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Coyote 2016</p>
            </div>
        </div>
    </footer>
    {% google_analytics "UA-89718130-1" %}
</body>
</html>