{% extends "home/header.html" %}
{% block header_block %}
<script>
	tinymce.init({
		selector: '#mytextarea'
	});
</script>
{% endblock %}
{% block content %}
	<h1> Boring Man Ladder Hop</h1>
	<p>Where you will find all your boring man needs!</p>
	<p>What is this website for: It hosts guides on boring man strategy, and also contains my personal blog. The blog is for me only, but the guides are written to the potential player looking to get better</p>
	<a href='/leaderboards'>Leaderboard</a>
	
{% endblock %}
