{% extends "home/header.html" %}
{% block header_block %}
<script>
	tinymce.init({
		selector: '#mytextarea'
	});
</script>
{% endblock %}
{% block content %}
	<h1> Boring Man Ladder Hop</h1>
	<p>Where you will find all your boring man needs</p>
	<p>What is this website for: It hosts guides on boring man strategy, and also contains my personal blog. The blog is for me only, but the guides are written to the potential player looking to get better</p>
	<p>By registering you can get many new features. As of right now you can make your own blog posts and your own guides. You are also able to access the mailing system and talk to other users</p>
	<p>The website is still under a lot of development so any help would great! <a href=https://github.com/coyote963/bmladder>My Github</a> So check out the below list for any changes you can implement</p>
	<h>Coming Soon</h>
	<ul>
	<li><strike>Create a "wall" on the tournaments page, where users can post comments and report scores</strike></li>
	<li><strike>Create clan pages, where you can log in as a clan </strike></li>
	<li>Add notifications to mail</li>
	<li>Create tournaments that make clans fight</li>
	<li>Write console app to run statistics on the game</li>
	<li>Limit the size of user profile pictures</li>
	<li>Change CSS to be more attractive</li>
	<li>Give users a "wall" for them to comment on</li>
	<li>Populate the user pages with badges</li>
	<li>Add videos section</li>
	<li>Add match history to tournaments</li>
	<li>Add email account confirmation</li>
	<li>Add Steam OpenID to grab SteamIDs to link website accounts with boring man steam accounts</li>
	<li>Write tests to ensure the internal logic of the tournaments is being upheld</li>
	<li>Add search functionality</li>
	<li>UTC clock on the bottom right</li>
	<li>Boring Man Sprite Generator</li>
	<li>Server renting</li>
	<li>Donate button</li>
	</ul>
{% endblock %}
