{% extends 'home/header.html' %}
{% block headercontent %}
	<script>
	tinymce.init({
		selector: '#id_body',
		plugins: "image",
    	image_list: [ 
	        {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'}, 
			{title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'} 
    ]
	});
	</script>
{% endblock %}

{% block content %}
	<h1>New post</h1>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-default">Save</button>
	</form>
{% endblock %}