{% extends "home/header.html" %}
{% block content %}
	{% load thumbnail %}
	{% if clan.image %}
	<img src = "{{clan.image.url}}">
	{% endif %}
	<div style="text-align:center">
	<h1>{{clan.title}}</h1>
	<p>[{{clan.clantag}}]</p>
	</div>
	<p><b>Clan Description: </b>{{clan.description}}</p>
	<a href="{% url 'clanjoin' clan.slug %}">Enter this clan</a>
	<h2>Members of this Clan</h2>
	{% for Player in members %}
	<div class = "panel panel-default">
	{% if Player.avatar %}
	<img style="vertical-align:middle" src="{% thumbnail Player.avatar 50x50 crop='smart' %}">
	{% endif %}
	<p style = 'display:inline'>[{{clan.clantag}}] {{Player.ingamename}}</p>
	</div>
	{% endfor %}
	<h2>Wall</h2>
	<form method="post" action=""
		enctype="multipart/form-data">
	{% csrf_token %}
	{{comment_form.as_p}}
	<input type="submit" value="post comment"/>
	</form>
	{% for Comment in comments %}
	<div class = "panel panel-default">
	{% if Comment.author.player.avatar %}<img style="vertical-align:middle" src="{% thumbnail Comment.author.player.avatar 50x50 crop='smart' %}">
	{% endif %}<p style = 'display:inline'>{{Comment.author.username}}:	{{Comment.content}}</p>
	<p style="float:right">{{Comment.date}}</p></div>
	{% endfor %}
	<p><a href="{% url 'clanupdate' clan.slug %}">Edit</a></p>
{% endblock %}
