{% extends "home/header.html" %}
{% block headercontent %}
  <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Chartist.js</title>
  <style>
    .ct-label {
      font-size: 20px;
    }
  </style>
{% endblock %}
{% block content %}

  <div class="ct-chart" id="chart1"></div>
  <div class="ct-chart" id ="chart2"></div>  
    <script>
  new Chartist.Line('#chart1', {
  labels: {{indices|safe}},
  series: [{{bins}}]

}, {
  width: 1000,
  height: 300
});
  new Chartist.Pie(
    '#chart2',
    {
      labels: ['mon','tue','wed'],
      series: [2,3,4]
    }, {
      width: 500,
      height: 500
    });
</script>
  <p>{{lenindices}}</p>
  <p>{{lenbins}}</p>
  {% endblock %}