{% extends "home/header.html" %}
{% block headercontent %}
  <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Chartist.js</title>
  <style>
    .ct-label {
      font-size: 15px;
      fill: rgba(40,130,70,1);
    }
  </style>
{% endblock %}
{% block content %}

  <div class="ct-chart" id="chart1"></div>
  <div class="ct-chart" id = 'chart2'></div>
    <script>
  new Chartist.Line('#chart1', {
  labels: {{indices|safe}},
  series: [{{bins}}]

}, {
  width: 1250,
  height: 300
});
var data = {
      labels: {{weapons|safe}},
      series: {{frequency}}
    };
  
  var total = data.series.reduce(function sum(prev, curr) {
    return prev + curr;
  });
  new Chartist.Pie(
    '#chart2',
    data,
    {
      width: 500,
      height: 500
    },
    [
      ['screen and (min-width: 6px)',
        {
          chartPadding: 70,
          labelOffset: 10,
          labelDirection: 'explode',
          labelInterpolationFnc: function(label, index) 
          {
            return data.series[index] / total > 0.02 ? label : '';
          }
        }
       ],
      ['screen and (min-width: 1024px)', 
       {
        labelOffset: 0,
        chartPadding: 55,
        labelDirection: 'explode',
        labelInterpolationFnc: function(label, index) 
        {
          return data.series[index] / total > 0.02 ? label : '';
        }
       }
      ]
    ]);
</script>
  {% endblock %}