{% extends "home/header.html" %}
{% load static %}
{% block content %}
	<h1> List of players </h1>
	<div class="row">
		{% for ingamename, rating, player_id, steamid in players %}
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">	
		    {% if rating > 1450 %}
      		<img src="{% static "leaderboards/img/God_Slayer.png" %}">
		    {% elif rating > 1400 %}
      		<img src="{% static "leaderboards/img/Elite.png" %}">
		    {% elif rating > 1350 %}
      		<img src="{% static "leaderboards/img/Platinum.png" %}">
      		{% elif rating > 1275 %}
      		<img src="{% static "leaderboards/img/Diamond.png" %}">
		    {% elif rating > 1200 %}
      		<img src="{% static "leaderboards/img/Gold.png" %}">
		    {% elif rating > 1100 %}
      		<img src="{% static "leaderboards/img/Silver.png" %}">
		    {% elif rating > 1000 %}
      		<img src="{% static "leaderboards/img/Bronze.png" %}">
		    {% elif rating > 900 %}
      		<img src="{% static "leaderboards/img/Shit.png" %}">
		    {% endif %}
		      <div class="caption">
		        <h3>{{forloop.counter}}. {{ingamename}}</h3>
		        <p>Rating: {{rating}}</p>
		        <p><a href="/stats/{{player_id}}/" class="btn btn-primary" role="button">Profile</a> 
		        {% if steamid != '-1' %}
		        <a href="http://steamcommunity.com/profiles/{{steamid}}" class="btn btn-default" role="button">Steam</a>
		        {% endif %}</p>
		      </div>
		    </div>
		</div>
    	{% endfor %}
  	</div>
  	<div class = "pagination">
  		<span class="step-links">
  			{% if players.has_previous %}
  				<a href="?page={{
  				players.previous_page_number }}">Previous</a>
  			{% endif %}
  			<span class="current">
  				Page {{players.number}} of {{players.paginator.num_pages}}.
  			</span>

  			{% if players.has_next %}
  				<a href="?page={{players.next_page_number}}">next</a>
  			{% endif %}
  		</span>
  	</div>

{% endblock %}