{% extends "home/header.html" %}

{% block content %}
	<h1> List of players </h1>
	<div class="row">
		{% for ingamename, rating, player_id, steamid, pictureurl in playerlist %}
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		    {% if steamid =="-1" %}
		      <img src="{{pictureurl}}">
		    {% else %}
		      <img src=
		      <div class="caption">
		        <h3>{{ingamename}}</h3>
		        <p>Rating: {{rating}}</p>
		        <p><a href="{{player_id}}/" class="btn btn-primary" role="button">Profile</a> </p>
		      </div>
		    </div>
		</div>
    	{% endfor %}
  	</div>
{% endblock %}