{% extends "home/header.html" %}

{% block content %}
	<h1> List of players </h1>
	<div class="row">
		{% for ingamename, rating, player_id, steamid in playerlist %}
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		    {% if rating > 1500 %}
      		<img src="http://imgur.com/eAXz1A7.jpg">
		    {% elif rating > 1450 %}
      		<img src="http://imgur.com/Wfd4oY0.jpg">
		    {% elif rating > 1400 %}
      		<img src="http://imgur.com/DW5op3d.jpg">
		    {% elif rating > 1350 %}
      		<img src="http://imgur.com/Et7MP13.jpg">
		    {% elif rating > 1300 %}
      		<img src="http://imgur.com/2dJ0t24.jpg">
		    {% elif rating > 1250 %}
      		<img src="http://imgur.com/x9YZ9TY.jpg">
		    {% elif rating > 1200 %}
      		<img src="http://imgur.com/6NjbmCw.jpg">
		    {% elif rating > 1150 %}
      		<img src="http://imgur.com/BAMuhiG.jpg">
		    {% elif rating > 1100 %}
      		<img src="http://imgur.com/C2dlnZY.jpg">
		    {% elif rating > 1050 %}
		    <img src="http://imgur.com/g5FJxK1.jpg">
		    {% elif rating > 1000 %}
	      	<img src="http://imgur.com/pHxXque.jpg">
		    {% endif %}
		      <div class="caption">
		        <h3>{{ingamename}}</h3>
		        <p>Rating: {{rating}}</p>
		        <p><a href="{{player_id}}/" class="btn btn-primary" role="button">Profile</a> 
		        <a href="www.steamcommunity.com/profiles/{{steamid}}" class="btn btn-default" role="button">Steam</a></p>
		      </div>
		    </div>
		</div>
    	{% endfor %}
  	</div>
{% endblock %}