{% extends "home/header.html" %}
{% block headercontent %}
  <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $(".altswitch").click(function(){
            $(".alt").toggle();
        });
    });
    </script>
{% endblock %}
{% block content %}
    {% load static %}
    {% if alts %}
    <button type="button" class="btn btn-primary btn-block altswitch">Show Alternate Accounts</button>
    {% endif %} 
	<h1>{{playername}} - {{playerrating}}</h1>
    <div class = "panel panel-default">
        <div class = "panel-heading">{{playername}}'s Stats</div>
        <table class = "table">
            {% if playersteam != '-1' %}<tr><td><a href= "http://steamcommunity.com/profiles/{{playersteam}}">Steam Account</a></td></tr>{% endif %}
            <tr><td>
            {% if rating > 1450 %}
            <img src="{% static "leaderboards/img/God_Slayer.png" %}">
            {% elif rating > 1400 %}
            <img src="{% static "leaderboards/img/Elite.png" %}">
            {% elif rating > 1350 %}
            <img src="{% static "leaderboards/img/Platinum.png" %}">
            {% elif rating > 1275 %}
            <img src="{% static "leaderboards/img/Diamond.png" %}">
            {% elif rating > 1200 %}
            <img src="{% static "leaderboards/img/Gold.png" %}">
            {% elif rating > 1100 %}
            <img src="{% static "leaderboards/img/Silver.png" %}">
            {% elif rating > 1000 %}
            <img src="{% static "leaderboards/img/Bronze.png" %}">
            {% else %}
            <img src="{% static "leaderboards/img/Shit.png" %}">
            {% endif %}
            </td></tr> 
        </table>
        <table class="table alt" style="display:none;">
            {% if alts %}
            <tr>
                <th>Name</th>
                <th>Rating</th>
            </tr>
            {% for ingamename, rating, player_id in alts %}
            <tr>
                <td><a href='/stats/dm/{{player_id}}'>{{ingamename}}</a></td>
                <td>{{rating}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>



	<div class="ct-chart" id = "chart1"></div>
	<script>
	new Chartist.Line('#chart1', {
		series: [{{ratinghistory}}]
	}, {
		width: 900,
		height: 600,
		showArea: true,
		showLine: false,
		showPoint: false
	})
	</script>
	
	<table class="table table-hover">
 		<thead>
    		<tr>
    			<th>Player</th>
    			<th>Weapon</th>
    			<th>Date</th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for killer_name, killer_id, victim_name, victim_id, dateoccurred, weapon, matchup_id in matchuplist %}
    		<tr>
    		{% if pk == killer_id %}
    		<td class="success"><a href="/stats/dm/{{victim_id}}">{{victim_name}}</a></td>
    		{% else %}
    		<td class="danger"><a href="/stats/dm/{{killer_id}}">{{killer_name}}</a></td>
    		{% endif %}
    		<td>{{weapon}}</td>
    		<td>{{dateoccurred}}</td>
    		</tr>
    	{% endfor %}
    	</tbody>
    </table>
{% endblock %}